<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{question.title}}</h2>
  </div>
  <div class="panel-body">
    <p>
      {{question.content}}
    </p>
  </div>
  <div class="panel-footer">
    <h5>by {{question.author}}</h5>
  </div>
</div>
