<h2><strong>Code Forum</strong> is designed to be an easy to use app that allows users to ask coding questions and (hopefully!) receive helpful answers from the community.</h2>
<br>
<div class="col-xs-6">
  <div class="panel-heading question">
    <h3>The Story:</h3>
  </div>
  <div class="panel-body">
    <p>This app was originally designed for a lesson project during code school at Epicodus Seattle (courses linked on the right!). The assignment was to create a forum using EmberJS, where users could ask and answer eachother's questions. </p>
    <p>It was a lovely circular assignment- during the process, many other forums were consulted to troubleshoot, which nicely illustrated the utility of the site under construction!</p>
  </div>
  <div class="panel-footer">

  </div>
</div>

<div class="col-xs-6">
  <div class="panel-heading question">
    <h3>The Future:</h3>
  </div>
  <div class="panel-body">
    <h5>In the future I hope to add more than a day's work to this site. I have plans to:</h5>
    <ul>
      <li>Add users and authentication.</li>
      <li>Add multiple ways to sort the questions and answers.</li>
      <li>Add a rating/voting system for answers.</li>
      <li>Add the option to include an image of a code snippit in your questions.</li>
      <li>Make the whole place bigger and more fun!</li>
    </ul>
  </div>

  <div class="panel-footer">

  </div>
</div>
<div class="col-xs-12">
  <div class="panel panel-default panel-profile ">
      <div class="panel-heading pro-heading" style="background-image: url('https://us.123rf.com/450wm/jakarin2521/jakarin25211611/jakarin2521161100004/65131823-abstract-science-background.jpg?ver=6'"></div>
      <div class="panel-body pro-body text-center">
        <img class="panel-profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVY_9Y_oHhCI1CT1g8XGcT2VHJuZXxo6JOIbcnOFvOl-WHN-lPPg">
        <h5 class="panel-title">Twyststar (Starlynne Start)</h5>
        <p class="bio">I moved to the Seattle area in 2013, and got married in Poulsbo in 2015. I started school at Epicodus in 2017, and plan to take over the world by 2020.</p>
        <p>Contact me: lewis.start0905@gmail.com</p>
      </div>
    </div>
</div>
