
<div class="panel">
  <div class="panel-heading answer">
    <h5>Answered on {{model.createdAt}}</h5>

  </div>
  <div class="panel-body">
    <p>{{model.content}}</p>
  </div>
  <div class="panel-footer answer-foot">
    <h6>By {{model.author}}</h6>
    {{answer-update answer=model update="update" destroyAnswer="destroyAnswer"}}
  </div>

</div>


<br>
