<div class="container">
  <div class="jumbotron">
    <h1>Code Forum</h1>
    <div class="navbar">
      <ul class='nav nav-tabs'>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </div>

    {{outlet}}
  <hr>
  <footer>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  </footer>
</div>
