<div class="container">
  <div class="jumbotron">
    <h1>Code Forum</h1>
    <div class="navbar">
      <ul class='nav nav-tabs'>
        <!-- <li>{{#link-to 'contact'}}Contact us{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li> -->
        <!-- <li>{{#link-to 'user'}}Contribute{{/link-to}}</li> -->
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </div>

    {{outlet}}
    <hr>
  <hr>
  <footer>
    <!-- <li>{{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li> -->
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <!-- <li>{{#link-to 'user'}}Contribute{{/link-to}}</li> -->
  </footer>
</div>
