<div class="container">
  <div class="jumbotron">
    <h1>Code Forum</h1>
    <div class="navbar">
      <ul class='nav nav-tabs'>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      {{outlet}}
    </div>
    <div class="col-xs-2 panel ">
      <div class="panel-heading">
          <h5>Suggested Links:</h5>
      </div>
      <div class="panel-body">
        <a href="https://www.w3schools.com/">W3Schools</a>
        <br>
        <a href="https://stackoverflow.com/">Stack Overflow</a>
        <br>
        <a href="https://www.learnhowtoprogram.com/intro-to-programming/getting-started-at-epicodus-64627971-b5be-49e7-a8d7-7ca55d0c9e88/learn-how-to-program">Epicodus Courses</a>
        <br>
        <a href="https://www.codecademy.com/">Codecademy</a>
        <br>
        <a href="https://www.freecodecamp.com/">FreeCodeCamp</a>
        
      </div>
    </div>
  </div>

  <hr>
  <footer>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  </footer>
</div>
