<div class=" well">

  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
  <!-- {{update-question question=model update="update"}}
  <br>
  {{new-post saveAnswer="saveAnswer" question=model destroyAnswer="destroyAnswer"}} -->



</div>
