<div class="">

  {{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" update="update"}}

  <br>
  {{new-answer saveAnswer="saveAnswer" question=model destroyAnswer="destroyAnswer"}}


</div>
